*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.home-page{
    position: absolute;
    display: flex;
    width: 100%;
    height: 3138px;
    background-color: #F6F7FB;
}
.home-page-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 28px 0 0 42px;
}
.home-page-logo{
    position: absolute;
    display: flex;
}
.home-page-logo h1 ,.home-page-links ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.home-page-links ul{
    position: relative;
    display: flex;
    list-style: none;
    margin: -5px 0 0 120px;
}
.home-page-links ul li{
    padding: 10px;
}
.home-page-links ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;    
}
.blog-page-search{
    position: absolute;
    display: flex;
    margin: -5px 0 0 855px;
}
.blog-page-search input{
    width: 439px;
    height: 42.25px;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transform: rotate(-0.08deg);
}
.blog-page-user{
    margin: -4px 0 0 1360px;
    width: 38px;
    height: 36px;
    cursor: pointer;
}
.blog-page-user img{
    width: 38px;
    height: 36px;
}