*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
}
.registerPart{
    position: absolute;
    display: flex;
    margin: 0 0 0 0;
    width: 100%;
    height: 100vh;
}
.register-left-Bar{
    position: absolute;
    display: flex;
    width: 780px;
    height: 100vh;
}
.register-left-Bar img{
    width: 770px;
    height: 100vh;
}
.register-left-Bar .register-left-bar-text{
    position: absolute;
    display: inline-block;
}
.register-left-Bar .register-left-bar-text p  ,.register-left-bar-text h1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #3B4C9B;
    margin: 35px 0 0 110px;
}
.register-left-Bar .register-left-bar-text h1{
    color: #FFFFFF;
    margin: 460px 0 0 110px; 
}
.register{
    position: absolute;
    display: flex;
    width: 700px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    margin: 55px 0 0 770px;
}
.register_header{
    position: absolute;
    display: flex;
    text-align: center;
    margin: 20px 0 0 100px;
}
.register_header #active a ,.register_header #deactive a{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #B5B0B0;
    text-decoration: none;
    cursor: pointer;
}
.register_header #deactive a{
    margin-left: 60px;
    color: #000000;
}
.register-form-group{
    position: absolute;
    display: inline-block;
    margin: 200px 0 0 100px;
}
.register-form-group label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;    
    color: #868181;
}
.register-form-group{
    position: absolute;
    display: inline-block;
    margin: 90px 0 0 100px;
}
.selection{
    position: absolute;
    display: flex;
    margin-top: 35px;
}
#days, #months, #years{
    width: 111px;
    height: 53px;
    background: #FFFFFF;
    border: 2px solid #000000;
}
.selection select{
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    color: #6FCF97;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;    
}
.register-form-group_birthday{
    position: absolute;
    display: flex;
}
.register-form-group form ,.register-form-group_mailInput ,.register-form-group_passwordInput ,.register-form-group_nameInput{
    position: absolute;
}
.register-form-group_mailInput input ,.register-form-group_passwordInput input ,.register-form-group_nameInput input{
    background-color: transparent;
	border: 2px solid #000; 
    outline: none;
    margin-top: 10px;
    width: 400px;
    height: 55px;
}
.register-form-group_mailInput{
    margin-top: 115px;
}
.register-form-group_mailInput input[type=email] ,.register-form-group_nameInput input[type=text] ,.register-form-group_passwordInput input[type=password]{
    color: #817C7C;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 10px;
    margin: 8px 0;
}
.register-form-group_passwordInput input[type=password]{
    font-size: 12px;
}
.register-form-group_nameInput{
    margin-top: 215px;
}
.register-form-group_passwordInput{
    margin-top: 315px;
}
.registerPart_submitPart{
    position: absolute;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 520px 0 0 100px;
}
.registerPart_submitPart p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.registerPart_submitPart button{
    position: relative;
    margin-top: 10px;
    width: 400px;
    height: 73px;
    background: #6FCF97;
    border: 1px solid #6FCF97;
    border-radius: 10px;
    cursor: pointer;
}
.registerPart_submitPart button a{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    text-decoration: none;
}
