*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.blog-detail{
    position: absolute;
    display: flex;
    width: 100%;
    height: 1887px;
    background-color: #F6F7FB;
}
.blog-detail-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 28px 0 0 42px;
}
.blog-detail-logo ,.blog-detail-user{
    position: absolute;
    display: flex;
}
.blog-detail-logo h1 ,.blog-detail-links ul li a ,.blog-detail-mid h2 ,.blog-detail-mid p ,.blog-detail-mid-social-text p ,.blog-detail-below-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.blog-detail-links ul{
    position: relative;
    display: flex;
    list-style: none;
    margin: -5px 0 0 120px;
}
.blog-detail-links ul li{
    padding: 10px;
}
.blog-detail-links ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;    
}
.blog-detail-search{
    position: absolute;
    display: flex;
    margin: -5px 0 0 855px;
}
.blog-detail-search input{
    width: 439px;
    height: 42.25px;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transform: rotate(-0.08deg);
}
.blog-detail-user{
    margin: -4px 0 0 1360px;
    width: 38px;
    height: 36px;
    cursor: pointer;
}
.blog-detail-user img{
    width: 38px;
    height: 36px;
}
/* Changes */
.blog-detail-mid{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 160px 0 0 400px;
}
.blog-detail-mid h2{
    font-size: 40px;
    line-height: 60px;
}
.blog-detail-mid p{
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;    
    color: #000;
}
.blog-detail-mid p span{
    color: #828282;
    font-weight: 400;
}
.blog-detail-mid-social{
    position: absolute;
    display: flex;
    margin: 450px 0 0 127px;
    justify-content: space-between;
    flex-direction: row;
}
.blog-detail-mid-social-text p{ 
    color: #828282;
}
.blog-detail-mid-social-links ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0 0 0 900px;
}
.blog-detail-mid-social-links ul li{
    padding: 5px;
}
.blog-detail-mid-social-links ul li a i{
    color: #000;
    font-size: 20px;
}
.blog-detail-below{
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 1215px;
    height: 1400px;
    margin: 540px 0 0 125px;
}
.blog-detail-below-image ,.blog-detail-below-image img{
    width: 1185px;
    height: 515px;
}
.blog-detail-below-text{
    margin: 30px 0 0 200px;
    height: 779px;
    width: 869px;
    align-items: center;
    text-align: left;
}
.blog-detail-below-text p{
    color: #423C3C;
}
@media only screen and (max-width:767px){
    body ,.blog-detail{
        background-color: #ffffff;
    }
    ::-webkit-scrollbar{
        display: none;
        overflow: hidden;
    }
    .blog-detail-nav{
        display: none;
    }
    .blog-detail-mid{
        text-align: center;
        align-items: center;
        margin: 50px 0 0 0;
    }
    .blog-detail-mid h2{
        font-size: 20px;
        line-height: 30px;     
    }
    .blog-detail-mid p{
        font-size: 16px;
        line-height: 24px;
    }
    .blog-detail-mid-social{
        display: none;
    }
    .blog-detail-mid-social{
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin: 260px 0 0 10px;
    }
    .blog-detail-mid-social-text p{ 
        font-size: 16px;
        line-height: 24px;
    }
    .blog-detail-mid-social-links ul{
        margin: -5px 0 0 50px;
    }
    .blog-detail-mid-social-links ul li a i{
        font-size: 16px;
    }
    .blog-detail-below{
        position: absolute;
        display: inline-block;
        margin: 300px 0 0 6px;
    }
    .blog-detail-below-image img{
        width: 288px;
        height: 204px;
    }
    .blog-detail-below-text{
        width: 288px;
        margin: 230px 0 0 0;
    }
    .blog-detail-below-text p{
        font-size: 16px;
        line-height: 24px;
        color: #423C3C;
    }
}